@mixin transition($property, $duration, $timing) {
  transition: $property $duration $timing;
}

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }

  body.enforce-dark-mode {
    @content;
  }
}

@mixin defaultFocusStyles() {
  outline: 4px solid $nordea-blue;
  outline-offset: 2px;
  border-radius: $button-border-radius;
}
