$dark-red: #e70404;
$deep-blue: #00005e;
$nordea-blue: #0000a0;
$vivid-blue: #0000ff;
$cloud-blue: #dcedff;
$light-blue: #99ccff;
$eclipse-gray: #383838;
$nordea-gray: #8b8a8d;
$medium-gray: #c9c7c7;
$white: #ffffff;
$black: #000000;

$border-radius-xs: 2px;
$border-radius-m: 20px;

$space-xs: 2px;
$space-s: 4px;
$space-m: 8px;
$space-l: 16px;
