ndwc-input {
  font-family: $body-font-regular;
  max-width: 480px;

  label {
    display: flex;
    flex-direction: column;
    gap: $space-sm;

    .input {
      position: relative;
      display: flex;
      align-items: center;

      & > ndwc-icon {
        position: absolute;
        margin-left: calc($space-md + $space-sm);
        color: $nordea-blue;
      }

      button {
        position: absolute;
        right: calc($space-md + $space-sm);
        color: $medium-gray;
        padding: 0;
        background: none;
        border: 0;
        cursor: pointer;

        &:focus-visible {
          @include defaultFocusStyles();
        }
      }
    }

    input {
      background-color: $white;
      border: 0;
      outline: 1px solid $medium-gray;
      border-radius: $border-radius-sm;
      padding: $space-md calc($space-md + $space-sm);
      font-size: $font-size-lg;
      line-height: $line-height-lg;
      flex-grow: 1;

      &:focus {
        outline-color: $nordea-blue;
      }

      &.icon {
        padding-left: calc($space-xl + $space-md);
      }

      &.clearable {
        padding-right: calc($space-xl + $space-md);
      }
    }

    span {
      font-size: $font-size-md;
      line-height: $line-height-md;

      &:last-child {
        color: $dark-gray;
      }
    }
  }

  &[error] {
    label {
      input {
        outline-color: $dark-red;
      }

      span,
      .error {
        display: flex;
        align-items: center;
        gap: $space-md;
        color: $dark-red;
      }

      // Hint does not change to error colour
      span:nth-of-type(2) {
        color: $dark-gray;
      }
    }
  }

  &[disabled] {
    label,
    label span,
    input {
      color: $nordea-gray;
    }

    input {
      background-color: $cool-gray;
    }
  }

  &[readonly] {
    input {
      color: $nordea-gray;
      background-color: $cool-gray;
    }
  }
}

/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
