ndwc-text {
  & > * {
    margin: 0;
    padding: 0;
  }

  color: currentcolor;

  &:not([header]) {
    &[weight='regular'] {
      font-family: $body-font-regular;
    }

    &[weight='medium'] {
      font-family: $body-font-medium;
    }

    &[weight='bold'] {
      font-family: $body-font-bold;
    }
  }

  &[header] {
    font-family: $header-font-bold;
  }

  &[size='sm'] {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  &[size='md'] {
    font-size: $font-size-md;
    line-height: $line-height-md;
  }

  &[size='lg'] {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }

  &[size='xl'] {
    font-size: $font-size-xl;
    line-height: $line-height-xl;
  }

  &[size='xxl'] {
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;
  }

  &[size='xxxl'] {
    font-size: $font-size-xxxl;
    line-height: $line-height-xxxl;
  }

  &[size='xxxxl'] {
    font-size: $font-size-xxxxl;
    line-height: $line-height-xxxxl;
  }

  &[size='xxxxxl'] {
    font-size: $font-size-xxxxxl;
    line-height: $line-height-xxxxxl;
  }
}
