ndwc-info-banner {
  font-family: $body-font-regular;
  display: flex;
  padding: $space-md;
  gap: $space-md;
  background-color: $cloud-blue;
  align-items: center;
  border: 1px solid $cloud-blue;
  border-radius: $border-radius-sm;

  div {
    display: flex;
    flex-direction: column;
    gap: $space-sm;
    font-family: $body-font-regular;
    font-size: $font-size-md;
    line-height: $line-height-md;
    flex-grow: 1;

    span {
      font-family: $body-font-medium;
      font-size: $font-size-lg;
      line-height: $line-height-lg;
      font-weight: 500;
    }

    :last-child {
      margin-left: calc($space-sm * -1 + 1px); // Offset the button padding and border
    }
  }

  ndwc-icon {
    margin-bottom: auto;
  }

  &[soft] {
    background-color: $white;
    border-color: $medium-gray;
  }
}
